*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

img {
  width: 100%;
}

.back-ground-color__home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5em;
  background: url('../assets/sky.jpg') no-repeat
}

.back-ground-color__css-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5em;
  background-color: #ffffff;
}

.back-ground-color__te-houtaewa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5em;
  background-color: #ffffff; 
}

.back-ground-color__learning-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5em;
  background-color: #ffffff; 
}

.back-ground-color__identity-values {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5em;
  background-color: #ffffff; 
}

.blog-post__card {
  max-width: 100%;
  max-width: 98rem;
  max-height: 100vh;
  padding: 5rem;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

/******************
---------------------------------------------------
Blog Images CSS
--------------------------------------------------
******************/

.blog-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.bog-post__img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.blog-post__date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-post__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post__cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post__cta:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}

/* -----------------------------
Te Houtea Blog CSS Formatting
----------------------------- */
/* .te-houtaewa-blog-page__container{

} */

.te-houtaewa-blog__heading {
  display: bold;
  font-size: 8em;
  margin-block-start: 1em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: sunderline;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 100px;
}

.te-houtaewa-blog__sub-title {
  display: block;
  font-size: 4em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.te-houtaewa-blog__date {
  display: block;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.te-houtaewa-blog__paragraph {
  display: block;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
}

/* -----------------------------
CSS Selectors Formatting
----------------------------- */
/* .css-selectors__container{

} */

#blog-title__center-format {
  display: bold;
  font-size: 4em;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: rgb(0, 0, 0);
}

.blog-heading__h1-heading-format {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.sub-heading__h2-formatting {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.blog-paragraph__paragraph-formatting {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
}

.picture-size__picture {
  display: block;
  width: 40%;
  position: relative;
  right: 4px;
}
